<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120196903337-mlis180lk8ndgd5li49jag22if03d70o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120196903337-mlis180lk8ndgd5li49jag22if03d70o</string>
	<key>API_KEY</key>
	<string>AIzaSyDzzjafh8Z9fYO-xsEbe49e5U-FDaU4Btw</string>
	<key>GCM_SENDER_ID</key>
	<string>120196903337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.Challenge5Test</string>
	<key>PROJECT_ID</key>
	<string>metodumapp-7dc26</string>
	<key>STORAGE_BUCKET</key>
	<string>metodumapp-7dc26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120196903337:ios:9aaef472e00393aeb2d4b8</string>
	<key>DATABASE_URL</key>
	<string>https://metodumapp-7dc26.firebaseio.com</string>
</dict>
</plist>